{% extends "call_your_mom/base.html" %}

{% load i18n %}

{% block content %}

  {% with task_name=task.name %}
  <h1>{% blocktrans %}Task done: {{ task.name }}{% endblocktrans %}</h1>
  {% endwith %}

  <form action="{% url 'ack_task' task.id %}" method="post">
    {% csrf_token %}
    <p>{% trans "Done on:" context "task form" %} <input type="date" name="done" value="{{ today.isoformat }}"/></p>
    <p>{% trans "Due:" context "task form" %} <input type="date" name="due" value="{{ next_due.isoformat }}"/></p>
    <p><input type="submit" value="{% trans "Save" %}"/></p>
  </form>

{% endblock %}
