{% load i18n %}{% load static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="UTF-8">
  <title>{% block page_title %}Call Your Mom{% endblock %}</title>
  <link rel="stylesheet" media="all" href="{% static 'main.css' %}"/>
</head>
<body>
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% block content %}{% endblock %}

  <footer style="color:silver; font-size: 80%;">{% with project_url="https://github.com/remram44/call_your_mom" %}{% blocktrans %}Call Your Mom sources available on <a href="{{ project_url }}">github.com</a>{% endblocktrans %}{% endwith %}<br/>

  {% get_available_languages as LANGUAGES %}
  {% get_language_info_list for LANGUAGES as languages %}
  {% for language in languages %}
    {% if language.code == LANGUAGE_CODE %}
      {{ language.name_local }}
    {% else %}
      <a href="{% url 'set_lang' language.code %}">
          {{ language.name_local }}
      </a>
    {% endif %}
  {% endfor %}
  </footer>
</body>
</html>
