{% extends "call_your_mom/base.html" %}

{% load i18n %}

{% block content %}

  {% if new %}
  <h1>{% blocktrans %}Create a task:{% endblocktrans %}</h1>
  {% else %}
  <h1>{% blocktrans %}Edit task: {{ task_name }}{% endblocktrans %}</h1>
  {% endif %}
  <br/>
  <form action="{% url 'change_task' task_id %}" method="post">
  {% csrf_token %}
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">{% trans "Name:" context "task form" %}</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="name" id="name" value="{{ task_name }}"/>
      </div>
    </div>
    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label">{% trans "Description:" context "task form" %}</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="description" rows="3">{{ task_description }}</textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="interval_days" class="col-sm-2 col-form-label">{% trans "Interval (days):" context "task form" %}</label>
      <div class="col-sm-10">
        <input class="form-control" type="number" name="interval_days" id="interval_days" value="{{ task_interval_days }}"/>
      </div>
    </div>
    <div class="form-group row">
      <label for="due" class="col-sm-2 col-form-label">{% trans "Due:" context "task form" %}</label>
      <div class="col-sm-10">
        <input class="form-control" type="date" name="due" id="due" value="{{ task_due.isoformat }}"/>
      </div>
    </div>
    {% if new %}
      <input type="submit" class="btn btn-info btn-lg" value="{% trans "Create" context "new task" %}"/>
    {% else %}
      <input type="submit" class="btn btn-info btn-lg" value="{% trans "Save" context "change task" %}"/>
    {% endif %}
  </form>

  <p>
    {% if task_is_due %}
    <strong>This task is due.</strong>
    {% else %}
    This task is not yet due.
    {% endif %}
    <a href="{% url 'ack_task' task_id %}">Click here to mark it as done.</a>
  </p>

  {% if not new and task_done_previously %}
  <h1>Previously done:</h1>
  <ul>
  {% for task_done in task_done_previously %}
  <li>{{ task_done.done }}</li>
  {% empty %}
  <li><em>Task was never completed yet</em></li>
  {% endfor %}
  </ul>
  {% endif %}

{% endblock %}
