{% extends "call_your_mom/base.html" %}

{% load i18n %}

{% block content %}

  {% with email=cym_user.email %}
  <h1>{% blocktrans %}Settings for <em>{{ email }}</em>{% endblocktrans %}</h1>
  {% endwith %}

  <p><a href="{% url 'logout' %}">{% trans "Click here to log out" %}</a></p>

  <form action="{% url 'profile' %}" method="post">
    {% csrf_token %}
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="timezone">{% trans "Timezone:" %}</label>
      <div class="col-sm-4"><select name="timezone" id="timezone">
        {% for tz in timezones %}
          <option value="{{ tz.0 }}"{% if tz.0 == cym_user.timezone %} selected{% endif %}>{{ tz.0 }} ({{ tz.1 }})</option>
        {% endfor %}
      </select></div>
      <div class="col-sm-2"><input type="submit" class="btn btn-info" value="{% trans "Change" context "timezone" %}"/></div>
    </div>
  </form>

  <p>{% trans "Here are your tasks:" %}</p>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Type" %}</th>
        <th>{% trans "Created" %}</th>
        <th>{% trans "Interval" %}</th>
        <th>{% trans "Due" %}</th>
        <td></td>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <td>{{ task.name }}</td>
        <td>{{ task.type }}</td>
        <td>{{ task.created }}</td>
        <td>{{ task.interval_days }}</td>
        <td>{{ task.due }}</td>
        <td>
          <a href="{% url 'change_task' task.id %}"><i class="fas fa-edit fa-lg" title="{% trans "Edit task" %}"></i></a>
          <a href="{% url 'delete_task' task.id %}"><i class="fas fa-trash fa-lg" title="{% trans "Delete task" %}"></i></a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6"><em>{% trans "No task yet" %}</em></td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="6"><a href="{% url 'change_task' 'new' %}">{% trans "Add a task" %}</a></td>
      </tr>
    </tbody>
  </table>

{% endblock %}
