{% extends "call_your_mom/base.html" %}

{% load i18n %}

{% block content %}

  <h1>{% trans "Sign up!" %}</h1>

  <form class="form-inline" action="{% url 'register' %}" method="post">
    {% csrf_token %}
    {% blocktrans %}Just enter your email, and click the link we'll send you to start adding tasks:{% endblocktrans %}
    <label class="sr-only" for="email">Email Address</label>
    <input name="email" type="email" placeholder="email@email.com">
    <input type="submit" class="btn btn-info" value="{% trans "Go" context "Submit button for email registration" %}"/>
  </form>

{% endblock %}
