@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');

.container{
	padding-top:1em;
}

footer {
  font-size: 80%;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #e5f3f8;
}

.page-header > h1{
  font-family: 'Nanum Pen Script', cursive;
	font-size: 500%;
	text-align:center;
}

.form-inline > input {
	margin-left:10px;
}
